aside.skin-1 {
  background: #efefef;
}
aside.skin-1 .brand {
  background: #3c8dbc;
  color: #fff;
  border-bottom-color: #3b89b6;
}
aside.skin-1 .size-toggle {
  border-bottom-color: #dfdfdf;
  box-shadow: 0 1px 0 #f4f4f4;
  -moz-box-shadow: 0 1px 0 #f4f4f4;
  -webkit-box-shadow: 0 1px 0 #f4f4f4;
}
aside.skin-1 .size-toggle .btn {
  color: #777;
}
aside.skin-1 .size-toggle .btn:hover,
aside.skin-1 .size-toggle .btn:focus {
  color: #333;
}
aside.skin-1 .size-toggle .btn .icon-bar {
  background-color: #777;
}
aside.skin-1 .sidebar-inner {
  border-right-color: #dfdfdf;
}
aside.skin-1 .sidebar-inner .user-block {
  border-bottom-color: #dfdfdf;
  box-shadow: 0 1px 0 #f4f4f4;
  -moz-box-shadow: 0 1px 0 #f4f4f4;
  -webkit-box-shadow: 0 1px 0 #f4f4f4;
}
aside.skin-1 .sidebar-inner .user-block .detail {
  color: #777;
}
aside.skin-1 .sidebar-inner .user-block ul li a {
  color: #777;
}
aside.skin-1 .sidebar-inner .user-block ul li a:hover,
aside.skin-1 .sidebar-inner .user-block ul li a:focus {
  color: #333;
}
aside.skin-1 .sidebar-inner .search-block {
  border-bottom-color: #dfdfdf;
  box-shadow: 0 1px 0 #f4f4f4;
  -moz-box-shadow: 0 1px 0 #f4f4f4;
  -webkit-box-shadow: 0 1px 0 #f4f4f4;
}
aside.skin-1 .sidebar-inner .search-block input[type="text"],
aside.skin-1 .sidebar-inner .search-block .btn {
  background: #fff;
  color: #777;
  border-color: #dfdfdf;
}
aside.skin-1 .main-menu > ul > li {
  border-top-color: #f4f4f4;
  border-bottom-color: #dfdfdf;
}
aside.skin-1 .main-menu > ul > li.active {
  border-top-color: #dfdfdf;
}
aside.skin-1 .main-menu > ul > li.active > a {
  background: #f9f9f9;
}
aside.skin-1 .main-menu > ul > li > a {
  color: #777;
}
aside.skin-1 .main-menu > ul > li > a:hover,
aside.skin-1 .main-menu > ul > li > a:focus {
  background: #f9f9f9;
}
aside.skin-1 .main-menu > ul > li > a .menu-hover {
  background: #3c8dbc;
  box-shadow: 0 0 10px 0px #439bce;
  -moz-box-shadow: 0 0 10px 0px #439bce;
  -webkit-box-shadow: 0 0 10px 0px #439bce;
}
#top-nav.skin-1 {
  background: #3c8dbc;
  border-bottom-color: #3b89b6;
}
#top-nav.skin-1 .navbar-toggle .icon-bar {
  background-color: #fff;
}
#top-nav.skin-1 .page-title {
  color: #c3e3f5;
}
#top-nav.skin-1 .nav-notification > li.open {
  background: #3b89b6;
}
#top-nav.skin-1 .nav-notification > li:hover {
  background: #3b89b6;
}
#top-nav.skin-1 .nav-notification > li > a {
  color: #c3e3f5;
}
#top-nav.skin-1 .nav-notification > li > a:hover,
#top-nav.skin-1 .nav-notification > li > a:focus {
  color: #fff;
}
aside.skin-2 {
  background: #3a3a3a;
}
aside.skin-2 .brand {
  background: #3a3a3a;
  color: #fff;
  border-bottom-color: #444;
}
aside.skin-2 .size-toggle {
  border-bottom-color: #333;
  box-shadow: 0 1px 0 #444444;
  -moz-box-shadow: 0 1px 0 #444444;
  -webkit-box-shadow: 0 1px 0 #444444;
}
aside.skin-2 .size-toggle .btn {
  color: #777;
}
aside.skin-2 .size-toggle .btn:hover,
aside.skin-2 .size-toggle .btn:focus {
  color: #fff;
}
aside.skin-2 .size-toggle .btn .icon-bar {
  background-color: #777;
}
aside.skin-2 .sidebar-inner {
  border-right-color: #333;
}
aside.skin-2 .sidebar-inner .user-block {
  border-bottom-color: #333;
  box-shadow: 0 1px 0 #444444;
  -moz-box-shadow: 0 1px 0 #444444;
  -webkit-box-shadow: 0 1px 0 #444444;
}
aside.skin-2 .sidebar-inner .user-block .detail {
  color: #777;
}
aside.skin-2 .sidebar-inner .user-block ul li a {
  color: #777;
}
aside.skin-2 .sidebar-inner .user-block ul li a:hover,
aside.skin-2 .sidebar-inner .user-block ul li a:focus {
  color: #fff;
}
aside.skin-2 .sidebar-inner .search-block {
  border-bottom-color: #333;
  box-shadow: 0 1px 0 #444444;
  -moz-box-shadow: 0 1px 0 #444444;
  -webkit-box-shadow: 0 1px 0 #444444;
}
aside.skin-2 .sidebar-inner .search-block input[type="text"],
aside.skin-2 .sidebar-inner .search-block .btn {
  background: #fff;
  color: #777;
  border-color: #dfdfdf;
}
aside.skin-2 .main-menu > ul > li {
  border-top-color: #444;
  border-bottom-color: #333;
}
aside.skin-2 .main-menu > ul > li.active {
  border-top-color: #A93922;
}
aside.skin-2 .main-menu > ul > li.active > a {
  background: #BD3F26;
  color: #fff;
}
aside.skin-2 .main-menu > ul > li > a {
  color: #777;
}
aside.skin-2 .main-menu > ul > li > a:hover,
aside.skin-2 .main-menu > ul > li > a:focus {
  background: #BD3F26;
  color: #fff;
}
aside.skin-2 .main-menu > ul > li > a .menu-hover {
  background: #feffd8;
  box-shadow: 0 0 10px 0px #ffffff;
  -moz-box-shadow: 0 0 10px 0px #ffffff;
  -webkit-box-shadow: 0 0 10px 0px #ffffff;
}
#top-nav.skin-2 {
  background: #BD3F26;
  border-bottom-color: #A93922;
}
#top-nav.skin-2 .navbar-toggle .icon-bar {
  background-color: #fff;
}
#top-nav.skin-2 .page-title {
  color: #f4cdc5;
}
#top-nav.skin-2 .nav-notification > li.open {
  background: #A93922;
}
#top-nav.skin-2 .nav-notification > li:hover {
  background: #A93922;
}
#top-nav.skin-2 .nav-notification > li > a {
  color: #f4cdc5;
}
#top-nav.skin-2 .nav-notification > li > a:hover,
#top-nav.skin-2 .nav-notification > li > a:focus {
  color: #fff;
}
aside.skin-3 {
  background: #55981A;
}
aside.skin-3 .brand {
  background: #55981A;
  color: #FFFFFF;
  border-bottom-color: #55981A;
}
aside.skin-3 .size-toggle {
  border-bottom-color: #55981A;
  box-shadow: 0 1px 0 #55981A;
  -moz-box-shadow: 0 1px 0 #55981A;
  -webkit-box-shadow: 0 1px 0 #55981A;
}
aside.skin-3 .size-toggle .btn {
  color: #FFFFFF;
}
aside.skin-3 .size-toggle .btn:hover,
aside.skin-3 .size-toggle .btn:focus {
  color: #fff;
}
aside.skin-3 .size-toggle .btn .icon-bar {
  background-color: #FFFFFF;
}
aside.skin-3 .sidebar-inner {
  border-right-color: #55981A;
}
aside.skin-3 .sidebar-inner .user-block {
  border-bottom-color: #55981A;
  box-shadow: 0 1px 0 #55981A;
  -moz-box-shadow: 0 1px 0 #55981A;
  -webkit-box-shadow: 0 1px 0 #55981A;
}
aside.skin-3 .sidebar-inner .user-block .detail {
  color: #FFFFFF;
}
aside.skin-3 .sidebar-inner .user-block ul li a {
  color: #FFFFFF;
}
aside.skin-3 .sidebar-inner .user-block ul li a:hover,
aside.skin-3 .sidebar-inner .user-block ul li a:focus {
  color: #fff;
}
aside.skin-3 .sidebar-inner .search-block {
  border-bottom-color: #55981A;
  box-shadow: 0 1px 0 #55981A;
  -moz-box-shadow: 0 1px 0 #55981A;
  -webkit-box-shadow: 0 1px 0 #55981A;
}
aside.skin-3 .sidebar-inner .search-block input[type="text"],
aside.skin-3 .sidebar-inner .search-block .btn {
  background: #fff;
  color: #777;
  border-color: #dfdfdf;
}
aside.skin-3 .main-menu > ul > li {
  border-top-color: #55981A;
  border-bottom-color: #55981A;
}
aside.skin-3 .main-menu > ul > li.active {
  border-top-color: #55981A;
}
aside.skin-3 .main-menu > ul > li.active > a {
  background: #55981A;
  color: #fff;
}
aside.skin-3 .main-menu > ul > li > a {
  color: #FFFFFF;
}
aside.skin-3 .main-menu > ul > li > a:hover,
aside.skin-3 .main-menu > ul > li > a:focus {
  background: #55981A;
  color: #fff;
}
aside.skin-3 .main-menu > ul > li > a .menu-hover {
  background: #feffd8;
  box-shadow: 0 0 10px 0px #ffffff;
  -moz-box-shadow: 0 0 10px 0px #ffffff;
  -webkit-box-shadow: 0 0 10px 0px #ffffff;
}
#top-nav.skin-3 {
  background: rgba(255, 255, 255, 0.9);
  border-bottom-color: rgba(242, 242, 242, 0.9);
}
#top-nav.skin-3 .navbar-toggle .icon-bar {
  background-color: #999;
}
#top-nav.skin-3 .page-title {
  color: #999;
}
#top-nav.skin-3 .nav-notification > li.open {
  background: rgba(252, 252, 252, 0.9);
}
#top-nav.skin-3 .nav-notification > li:hover {
  background: rgba(252, 252, 252, 0.9);
}
#top-nav.skin-3 .nav-notification > li > a {
  color: #999;
}
#top-nav.skin-3 .nav-notification > li > a:hover,
#top-nav.skin-3 .nav-notification > li > a:focus {
  color: #777;
}
aside.skin-4 {
  background: #635247;
}
aside.skin-4 .brand {
  background: #635247;
  color: #F7E4D7;
  border-bottom-color: #55473E;
}
aside.skin-4 .size-toggle {
  border-bottom-color: #55473E;
  box-shadow: 0 1px 0 #756155;
  -moz-box-shadow: 0 1px 0 #756155;
  -webkit-box-shadow: 0 1px 0 #756155;
}
aside.skin-4 .size-toggle .btn {
  color: #F7E4D7;
}
aside.skin-4 .size-toggle .btn:hover,
aside.skin-4 .size-toggle .btn:focus {
  color: #fff;
}
aside.skin-4 .size-toggle .btn .icon-bar {
  background-color: #F7E4D7;
}
aside.skin-4 .sidebar-inner {
  border-right-color: #55473E;
}
aside.skin-4 .sidebar-inner .user-block {
  border-bottom-color: #55473E;
  box-shadow: 0 1px 0 #756155;
  -moz-box-shadow: 0 1px 0 #756155;
  -webkit-box-shadow: 0 1px 0 #756155;
}
aside.skin-4 .sidebar-inner .user-block .detail {
  color: #F7E4D7;
}
aside.skin-4 .sidebar-inner .user-block ul li a {
  color: #F7E4D7;
}
aside.skin-4 .sidebar-inner .user-block ul li a:hover,
aside.skin-4 .sidebar-inner .user-block ul li a:focus {
  color: #fff;
}
aside.skin-4 .sidebar-inner .search-block {
  border-bottom-color: #55473E;
  box-shadow: 0 1px 0 #756155;
  -moz-box-shadow: 0 1px 0 #756155;
  -webkit-box-shadow: 0 1px 0 #756155;
}
aside.skin-4 .sidebar-inner .search-block input[type="text"],
aside.skin-4 .sidebar-inner .search-block .btn {
  background: #fff;
  color: #777;
  border-color: #dfdfdf;
}
aside.skin-4 .main-menu > ul > li {
  border-top-color: #756155;
  border-bottom-color: #55473E;
}
aside.skin-4 .main-menu > ul > li.active {
  border-top-color: #55473E;
}
aside.skin-4 .main-menu > ul > li.active > a {
  background: #55473E;
  color: #fff;
}
aside.skin-4 .main-menu > ul > li > a {
  color: #F7E4D7;
}
aside.skin-4 .main-menu > ul > li > a:hover,
aside.skin-4 .main-menu > ul > li > a:focus {
  background: #55473E;
  color: #fff;
}
aside.skin-4 .main-menu > ul > li > a .menu-hover {
  background: #feffd8;
  box-shadow: 0 0 10px 0px #ffffff;
  -moz-box-shadow: 0 0 10px 0px #ffffff;
  -webkit-box-shadow: 0 0 10px 0px #ffffff;
}
#top-nav.skin-4 {
  background: #635247;
  border-bottom-color: #55473E;
}
#top-nav.skin-4 .navbar-toggle .icon-bar {
  background-color: #999;
}
#top-nav.skin-4 .page-title {
  color: #F7E4D7;
}
#top-nav.skin-4 .nav-notification > li.open {
  background: #55473E;
}
#top-nav.skin-4 .nav-notification > li:hover {
  background: #55473E;
}
#top-nav.skin-4 .nav-notification > li > a {
  color: #F7E4D7;
}
#top-nav.skin-4 .nav-notification > li > a:hover,
#top-nav.skin-4 .nav-notification > li > a:focus {
  color: #fff;
}
